{% extends "base/master.html" %}

{% block master_content %}
	<form method="post">{% csrf_token %}
		{{ project_form.non_field_errors }}
		{% for field in project_form %}
	        <div class="fieldWrapper">
	            {{ field.errors }}
	            {{ field.label_tag }}: {{ field }}
	        </div>
	    {% endfor %}
	    <a href="/parachute/projects/add" rel="#overlay" style="text-decoration:none">
		  Load Google
		</a>
		<button type='submit' class='normal-button'>
			<img src='{{STATIC_URL}}images/add.png' />
			Add This Project
		</button>
	</form>
{% endblock %}