<div class='panel-rounded'>
	<div class='panel-content-wrap'>
		<div class='rpanel-top'>
			<div class='rpanel-tlc'></div>
			<div class='rpanel-trc'></div>
			<div class='rpanel-trm'></div>
		</div>
		<div class='rpanel-bot'>
			<div class='rpanel-blc'></div>
			<div class='rpanel-brc'></div>
			<div class='rpanel-brm'></div>
		</div>
		<div class='rpanel-content'>			
			{% comment %} hack {% endcomment %}
			<div style='clear:both;height:1px;'>&nbsp;</div>
			{% block panel_content %}
			{% endblock %}			
		</div>
	</div>
</div>