# Make this unique, and don't share it with anybody.
SECRET_KEY = 'replace_this_with_your_key'

DB_SETTINGS = {
    'default' : {
        'username' : 'default_username',
        'password' : 'default_password' 
    }
}